@import "../../../scss/variables";

.sidebar-container {
background-color: $sidebar-background-color;
height: 100%;
display: flex;
// align-items: center;
flex-direction: column;
padding-top: 40px;

.img {
    border-radius: 8px;
    margin-left: 32px;
}
}
.logo{
    display: flex;

    p{
        align-self: center;
        font-weight: bold;
        color: $purple-color;
        letter-spacing : 3px
    }
    span{
        text-decoration: underline;
    }
}
.sidebar-list-wrapper{
    width: 100%;
  
}