<div class="suggesions-wrapper">
    <div class="header">
        <p>Suggesions For You</p>
        <span>See All</span>

    </div>
    <div class="suggessions">
        <div class="single-suggest">
            <div class="left">
                <img src="../../../assets/imgs/pexels-alex-green-5699704.jpg">
               <div>
                <p>Sarah Tancyrdy</p>
                <span>@dr.sarah</span>
               </div>
            </div>
            <div class="right">
                <span>Follow</span>
            </div>

        </div>

        <div class="single-suggest">
            <div class="left">
                <img src="../../../assets/imgs/pexels-dimitry-zub-6780035.jpg">
               <div>
                <p>Aurther Shelby</p>
                <span>@art.shelby</span>
               </div>
            </div>
            <div class="right">
                <span class="followed">Followed</span>
            </div>

        </div>

        <div class="single-suggest">
            <div class="left">
                <img src="../../../assets/imgs/pexels-gifty-dzenyo-6151981.jpg">
               <div>
                <p>Vin Desel</p>
                <span>@vindesel</span>
               </div>
            </div>
            <div class="right">
                <span>Follow</span>
            </div>

        </div>
         
    </div>
</div>