@import "../../../../scss/variables";
.toggle-wrapper{
    margin: 32px;
    .icon{
        cursor: pointer;
    }
}
.toggle{
    display: flex;
    justify-content: space-between;
}

.account {
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
    span {
        color: $text-secondary-color;
        font-size: 14px;
    }
    p{
        font-weight: bold;
    }

    img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    div{
margin-left: 10px;
    }
}