@import "../../../scss/variables";
.home-wrapper {
   display: flex;
    padding: 50px;

    .main{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
}
.stories-wrapper{
    border-bottom: 1px solid $text-secondary-color;
}
.feeds{
    margin-top: 20px;
}
.side{
    width: 30%;
}