<div class="list-container">
        <p class="Menu" >Menu</p>
    
    <div class="list-items-container">
        <div class="list-item-container " routerLink="/home" routerLinkActive="active">
            <fa-icon [icon]="faHome" class="icon"></fa-icon>
            <p>Home</p>
        
        </div>
        <div class="list-item-container" routerLink="/messages" routerLinkActive="active">
            <fa-icon [icon]="faCommentDots" class="icon"></fa-icon>
            <p>Messages</p>
        
        </div>
        <div class="list-item-container">
            <fa-icon [icon]="faUser" class="icon"></fa-icon>
            <p>Profile</p>
        
        </div>
        <div class="list-item-container">
            <fa-icon [icon]="faBookMark" class="icon"></fa-icon>
            <p>Saved Posts</p>
        
        </div>
        <div class="list-item-container">
            <fa-icon [icon]="faCog" class="icon"></fa-icon>
            <p>Seetings</p>
        
        </div>
     
    
    </div>
   
</div>
