@import "../../../../scss/variables";
.Menu {
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
}

    .list-item-container {
        display: flex;
        padding: 10px;
        cursor: pointer;
        p {
            margin-left: 15px;
        }
        color : $text-secondary-color;
        &:hover {
        box-shadow: 0 5px 2px -2px rgb(0,0,0,.1);
        }
        .icon{
            margin-left: 30px;
        }
 
    }
    .active{
        box-shadow: 0 5px 2px -2px rgb(0,0,0,.1);
        color: black;
        font-weight: bold;
        .icon{
            color:$purple-color;
        }


    }

    .list-items-container{
margin-top: 20px;
    }
    .list-container {
        p{
            margin-left: 35px;
        }
    }

