<div class="postActivity-wrapper">
    <p>Latest Post Activity</p>
    <div class="Post">
        <div class="container">
            <div class="img">
            </div>
            <div class="post-actions">
                <p>Minimlist Stairs</p>
                <div>
                    <fa-icon [icon]="faHeart" class="heart-icon"></fa-icon><span [ngStyle]="{color:'#ff5775'}">43</span>
                    <fa-icon [icon]="faCommentDots" class="comment-icon"></fa-icon><span [ngStyle]="{color:'#a4b6e2'}">87</span>
                    <fa-icon [icon]="faBookMark" class="mark-icon"></fa-icon><span [ngStyle]="{color:'#a4b6e2'}">76s</span>
                    
                </div>
            </div>

        </div>
        <p class="seePosts">
            See All Posts
        </p>

    </div>
</div>